// fonts
$roboto           = 'Roboto', sans-serif

// colors
$primary-color    = #ff4848
$dark-blue        = #2c3e50
$lighter-blue     = #004966
$darker-blue      = #17212a
$border-gray      = #8e8e8e