.offer-item
  margin-top 25px

  .offer-image
    text-align center

    & > img
      display inline-block
      max-width 130px
      max-height 130px

  .offer-body
    color white
    text-align center