.site-footer

  .upper-footer
    height 145px
    background-color $darker-blue

    .site-logo
      margin-top 35px
      text-align center

      & > a
        display inline-block

  .footer
    display flex
    justify-content center
    align-items center
    height 75px
    background-color $primary-color

    &-rights
      color white
      font-size 18px