/*!
Theme Name: gh-examination
Author: Ivan Artemenko
Description: Description
Version: 1.0.0
*/

/* Libraries
=========================================================*/
@import "bootstrap"
@import "nib"

/* Base
=========================================================*/
@import "base/fonts.styl"
@import "base/variables.styl"
@import "base/mixins.styl"
@import "base/core.styl"

/* Components
=========================================================*/
@import "components/logo.styl"
@import "components/buttons.styl"
@import "components/offer-item.styl"
@import "components/post.styl"

/* Blocks
=========================================================*/
@import "blocks/header.styl"
@import "blocks/footer.styl"
@import "blocks/home.styl"
@import "blocks/sidebar.styl"
@import "blocks/single-post.styl"